* {
	margin: 0;
	padding: 0;
}

.header1 {
	width: 100%;
	height: 40px;
	position: relative;
	background: #f8f8f8;
}

.header1 .header-con {
	position: absolute;
	color: black;
	text-align: center;
	left: 200px;
	margin-top: 6px;
	font-size: 20px;
}

.header1 .header-son {
	position: absolute;
	left: 140px;
	margin-top: 6px;
}

.header1 .header-son ul {
	list-style: none;
	margin-left: 300px;
}

.header1 .header-son ul li {
	width: 70px;
	height: 25px;
	float: left;
	margin-left: 15px;
	cursor: pointer;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
}

.header1 .header-son ul li a {
	color: black;
	text-decoration: none;
}

.header1 .header-son ul li button {
	color: black;
	width: 70px;
	height: 25px;
	border: none;
	background: #f8f8f8;
}

.header1 .header-son ul li a:hover {
	color: red;
	border: 1px solid black;
	display: block;
	background-color: #DDDDDD;
}

.header1 .header-son ul li button:hover {
	color: red;
	border: 1px solid black;
	background-color: #DDDDDD;
}

.header2 {
	width: 100%;
	height: 100px;
	/*background: gainsboro;*/
}

.header2 .logo1 {
	position: absolute;
	width: 160px;
	margin-left: 165px;
}

.header2 .logo2 {
	position: absolute;
	float: left;
	width: 305px;
	margin-left: 335px;
	background: url(../img/b.png) no-repeat 0px -6px;
}

.header2 .logo2 ul {
	list-style: none;
	cursor: pointer;
}

.header2 .logo3 {
	width: 110px;
	height: 35px;
	margin-top: 27px;
	position: absolute;
	left: 1090px;
	background: gainsboro;
	border-radius: 3px;
}

.header2 .logo3 .a {
	width: 15px;
	height: 30px;
	background: url(../img/b.png) no-repeat -93px -200px;
	margin-left: 15px;
	cursor: pointer;
}

.header2 .logo3 .b {
	width: 40px;
	height: 30px;
	line-height: 12px;
	font-size: 12px;
	position: absolute;
	margin-left: 32px;
	margin-top: -20px;
}

.header2 .logo3 .c {
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 1;
	border-radius: 8px;
	height: 16px;
	width: 24px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	background-color: #f00581;
}

.header2 .logo3 .c .a1 {
	line-height: 16px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.header3 {
	z-index: 11;
	width: 100%;
	height: 56px;
	background-color: #f10180;
}

.header3 ul {
	list-style: none;
}

.header3 ul li {
	float: left;
	margin-top: 10px;
	margin-left: 85px;
	cursor: pointer;
}

.header3 ul li a {
	color: black;
	font-size: 20px;
	text-decoration: none;
}

.header3 ul li a:hover {
	color: white;
}
#goods{
	height: 800px;
}
.picture {
	margin-left: 200px;
	margin-top: 20px;
	position: relative;
	width: 437px;
	height: 437px;
	border: 1px solid #ccc;
}

.picture img {
	border: 2px solid grey;
	border-radius: 5px;
	overflow: hidden;
}

.name {
	font-size: 25px;
	margin-left: 700px;
	margin-top: -400px;
}

.price {
	margin-left: 700px;
	margin-top: 65px;
	font-size: 20px;
}

#add-to-cart {
	font-size: 20px;
	width: 170px;
	height: 40px;
	margin-left: 700px;
	margin-top: 50px;
	cursor: pointer;
	color: white;
	background: rgb(200, 0, 100);
}

#add-to-cart:hover {
	width: 190px;
	margin-left: 690px;
	background: white;
	color: black;
}

.desc {
	margin-left: 700px;
	margin-top: 65px;
	color: grey;
}

.cet {
	margin-left: 700px;
	margin-top: 15px;
	color: grey;
}

.goods {
	margin-left: 700px;
	margin-top: 15px;
	color: grey;
}

.price span {
	color: red;
	font-size: 25px;
}

