*{
	margin: 0;
	padding: 0;
}
main{
	width: 100%;
	height: 1100px;
}
.header-container{
	width: 100%;
	height: 40px;
	background-color: grey;
	z-index: 9;
}
.header-container .return{
	 display: block;
	 float: left;
	 text-align: center;
	 text-decoration: none;
     margin-left: 300px;
     margin-top: 7px;
	 height: 25px;
	 width: 100px;
     color: white;
	
}
.header-container .return:hover{
	color: red;
	border: 1px solid black;
	background-color: white;
	border-radius: 25px ;
}
.header-container .shop{
     display: block;
	 float: left;
	 text-align: center;
	 text-decoration: none;
     margin-left: 300px;
     margin-top: 7px;
	 height: 25px;
	 width: 100px;
     color: white;
}
.header-container .shop:hover{
	color: red;
	border: 1px solid black;
	background-color: white;
	border-radius: 25px ;
}
.header-container .order{
     display: block;
	 float: left;
	 text-align: center;
	 text-decoration: none;
     margin-left: 300px;
     margin-top: 7px;
	 height: 25px;
	 width: 100px;
     color: white;
	 
}
.header-container .order:hover{
	color: red;
	border: 1px solid black;
	background-color: white;
	border-radius: 25px ;
}
.cat{
	height: 60px;
    padding-left: 100px;
	background-color: rgb(200,100,0);
}

.cat li{
	font-size: 20px;
	width: 100px;
	float: left;
	list-style: none;
    margin-left: 20px;
    line-height: 60px;
}
.cat li:hover{
	font-size: 25px;
    line-height: 60px;
}
.cat li a{
	color: black;
	text-decoration: none;
}
.cat li a:hover{
	color: white;
}  

main{
	width: 1100px;
	margin: 0 auto;
	margin-top: 45px;
}
#hot-goods {
	list-style: none;
}

#hot-goods .goods {
	float: left;
	height: 330px;
	width: 233px;
	margin-top: 20px;
	margin-left: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

#hot-goods .goods a {
	text-decoration: none;
	color: black;
}

#hot-goods .goods:hover {
	box-shadow: 0 0 1px rgba(250, 0, 0, 1);
}

#hot-goods .goods div:nth-child(3){
	color: red;
	font-size: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
}
#hot-goods .goods div:nth-child(1){
	height: 233px;
	overflow: hidden;
}
#hot-goods .goods div:nth-child(1) img{
	width: 100%;
}
#hot-goods .goods div:nth-child(1) img:hover{
	width: 110%;
}
#hot-goods .goods div:nth-child(2){
	margin-left: 10px;
}

/*底部*/

.dibu {
	width: 100%;
	margin-top: -280px;
}

body {
	width: 100%;
	height: 100%;
	background-color: #FCFCFC;
	border-top: 1px solid #EBEBEB;
}

.foot {
	width: 960px;
	height: 410px;
	margin: 0 auto;
}

.tu {
	width: 960px;
	height: 105px;
	margin-top: 300px;
	background-image: url(../img/QQ1.png);
}

.tx {
	width: 960px;
	height: 146px;
	margin-top: 35px;
}

.tx a {
	text-decoration: none;
}

.L {
	width: 145px;
	height: 146px;
	float: right;
	list-style: none;
}

.L li {
	font-size: 12PX;
	text-align: center;
}

.L span {
	margin-left: 22px;
}

.l {
	width: 162px;
	height: 146px;
	float: left;
	border-right: 1px solid #E0E0E0;
	list-style: none;
}

.l ul {
	margin-left: 35px;
	margin-top: 5px;
}

.l li {
	font-size: 12px;
	color: #808080;
	margin-top: 4px;
}

.l li:hover {
	margin-left: 3px;
	color: #D7237E;
	animation-delay: 1s;
}

.da {
	list-style: none;
	margin-left: -17px;
	color: #4D4D4D;
}

.sp {
	width: 960px;
	height: 30px;
	background-color: #D7237E;
	margin-top: 20px;
	text-align: center;
}

.sp span {
	font-size: 12px;
	color: #FFFFFF;
}

.sp span:hover {
	color: #9F8FB2;
}

.sp a {
	text-decoration: none;
}

.shouquan {
	width: 960px;
	height: 57px;
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
}

.shouquan a {
	text-decoration: none;
}

.shouquan a:hover {
	color: #D7237E;
}

.shouquan img {
	width: 12px;
	height: 12px;
}

.footb {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
}

.footb1 {
	width: 960px;
	height: 40px;
	margin: 0 auto;
	background-color: red;*/
}

















































































